<div class="container mt-5">

  <!-- Titulo -->
  <div class="row">
    <div class="col-lg-8 offset-lg-2">
      <div class="card">
        <div class="card-body">
          <h3 class="titulo">Tarjeta de credito</h3>
        </div>
      </div>
    </div>
  </div>


  <!-- Donde se van a poder a gregar las tarjetas y la listas de estas -->
  <div class="row mt-4">

    <!-- Agregar tarjetas -->
    <div class="col-lg-6">
      <div class="card">
        <div class="card-body">
          <h5 class="titulo">Agregar tarjeta</h5>
        </div>
      </div>
    </div>

    <!-- Mostrar las tarjetas -->
    <div class="col-lg-6">
      <div class="card">
        <div class="card-body">
          <h5 class="titulo">Listado de tarjetas</h5>
          <table class="table">
            <tbody cl>
              <tr *ngFor="let item of listTarjetas">
                <td>{{ item.titular }}</td>
                <td>{{item.numeroTarjeta}}</td>
                <td>{{item.fechaExpiracion}}</td>
                <td>
                  <i class="fa-solid fa-pen-to-square text-primary"></i>
                </td>
                <td>
                  <i class="fa-solid fa-trash text-danger"></i>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

  </div>


</div>
